################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/venv
/__pycache__
/services/__pycache__
repositories/__pycache__/benefit_repository.cpython-311.pyc
repositories/__pycache__/database.cpython-311.pyc
