################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore VS Code settings and virtual environment
/.vs
/.vscode
/venv

# Ignore all __pycache__ directories and compiled Python files
__pycache__/
**/__pycache__/
*.pyc

attachments/
/repositories/__pycache__
